@import '../../../assets/style/main.scss';

.content {
  width: 316px;
  height: 48px;
  border: none;
  background-color: $blue-color;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}

.button__grey {
  background-color: #a7d0ff;
  width: 316px;
  height: 48px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}
