@import '../../../assets/style/main.scss';

.content {
  display: flex;
  align-items: center;
  color: $lightblack-color;
  font-family: $text-logo;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  .title {
    margin-left: 4px;
  }
}
