@import 'mormalize';
@import 'vars';
@import 'fonts';

body {
  color: $black-color;
  line-height: $line-height;
  font-size: $text-size;
  font-family: $text;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  height: auto;
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}
