//colors
$blue-color: #4877f2;
$grey-color: #f2f2f2;
$black-color: #1d1d1d;
$lightblack-color: #424242;
$orange-color: #ffac28;
$sub-color: #272b33;
$title-color: #2a2f37;
$text-color: #1d1d1d;
$background: #e5e5e5;

//fonts

$text: 'Jost', sans-serif;
$text-logo: 'Montserrat', sans-serif;

//vars
$title-size: 36px;
$text-size: 14px;
$regSubTitle-size: 18px;

// line-height
$line-height: 24px;
