@import '../../../assets/style/main.scss';

.adminSidebar {
  width: 263px;

  span {
    display: block;
  }
  svg {
    margin-right: 12px;
  }

  & > &__item {
    display: flex;
    align-items: center;
    color: $title-color;
    background-color: #fff;
    padding: 24px 0 24px 24px;
    border-bottom: 1px solid rgba(42, 47, 55, 0.1);

    svg {
      stroke: #2c2d2e;
    }
    cursor: pointer;
    .title {
      color: $title-color;
      font-weight: 700;
      font-size: 16px;
    }
    .subTitle {
      color: $title-color;
      opacity: 0.6;
      font-size: 12px;
    }
  }

  .letter {
    width: 40px;
    height: 40px;
    background: rgba(42, 47, 55, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: $title-color;
    opacity: 0.4;
    margin-right: 16px;
  }
}

.active__link {
  display: flex;
  align-items: center;
  color: $title-color;
  background-color: #fff;
  padding: 24px 0 24px 24px;
  border-bottom: 1px solid rgba(42, 47, 55, 0.1);

  .letter {
    width: 40px;
    height: 40px;
    background: rgba(42, 47, 55, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: $title-color;
    opacity: 0.4;
    margin-right: 16px;
  }
  color: $blue-color;
  svg {
    stroke: $blue-color;
  }
  border-left: 2px solid $blue-color;
}
