@import '../../../../assets/style/main.scss';
input {
  outline: none;
  border: none;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  width: 565px;
  border: 1px solid $blue-color;
  border-radius: 4px;
  font-size: $text-size;
  line-height: 24px;
  height: 36px;
  color: black;
  padding-left: 8px;
}

@media screen and (max-width: 768px) {
  .content {
    width: 286px;
  }
}
