@import '../../assets/style/main.scss';

.mainPage {
  width: 100%;
}
.banner {
  width: 100%;
  background-color: #fff;
  &__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.banner__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 48px;
    font-weight: 700;
    color: $black-color;
  }
  p {
    width: 400px;
    font-size: 16px;
  }
}

a {
  color: $black-color;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 950px;
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 80px;
  a {
    padding: 8px 24px;
  }
  a:hover {
    border-radius: 35px;
    border: 1px solid $blue-color;
    color: $blue-color;
  }

  a.activeLink {
    &:hover {
      border: none;
      color: $black-color;
    }
    border-radius: 35px;
    background-color: #ffac28;
  }
  // li {
  //   margin-right: 40px;
  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }
}

.adsList {
  h3 {
    font-weight: 700;
    font-size: 24px;
    color: $title-color;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .navMenu {
    display: none;
  }
}
