@import '../../assets/style/main.scss';

.errorPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  h1 {
    color: $black-color;
    font-weight: 700;
    font-size: 24px;
  }
  span {
    display: block;
    color: $black-color;
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .errorPage {
    img {
      width: 285px;
      height: 285px;
    }
  }
}
