@import '../../../../assets/style/main.scss';
.userStatus {
  color: $lightblack-color;
  position: relative;
  text-align: center;
  svg {
    stroke: #2c2d2e;
  }
  &:hover {
    display: block;
    color: $blue-color;
    svg {
      stroke: $blue-color;
    }
    & > div[class*='userMenu'] {
      display: block;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60px;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
@media screen and (width: 768px) {
  .burger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .userStatus {
    margin-left: 28px;
  }
}
