@import '../../../assets/style/main.scss';

.footer {
  background-color: #f2f2f2;
  grid-area: footer;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;

  height: 100%;
  justify-content: space-between;
  font-size: 12px;
  & span {
    display: block;
    opacity: 0.6;
  }
  .left {
    width: 252px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black-color;
  }
  .center {
    color: $black-color;
    opacity: 0.6;
  }
  .social {
    width: 144px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

.leftAndCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 674px;
}

@media screen and (max-width: 768px) {
  .leftAndCenter {
    max-width: 450px;
  }
}
